<p id="notice"></p>
<p class="show-text">
  <strong>Title:</strong>
  <%= @book.title %>
</p>
<p class="show-text">
  <strong>Body:</strong>
  <%= @book.body %>
</p>

<%= link_to "Edit", edit_book_path(@book) %>
|
<%= link_to "Back", books_path %>
