/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

h1{
  font-size: 25px;
}

.top{
  margin: 20px;
  font-size: 13px;
}
.top-heading{
  margin-left: 15px;
  margin-top: 30px;
}
.bookers{
  font-weight: bold;
}
.top-text{
  margin: 33px;
}

body{
  margin: 33px;
}

.index{
  padding: 5px;
  font-size: 15px;
}

.bun{
  padding: 5px;
}

.show-text{
  padding: 20px;
}

.actions{
  margin: 5px;
}